:root {
    --palette-1: #0a403d;
    --palette-2: #13948d;
    --palette-3: #e8fbfa;
    --palette-4: #eee;
    --palette-5: #fff;
    --palette-6: #92f2ed;
    --color-text-primary: var(--palette-1);
    --color-links-primary: var(--palette-2);
    --color-bg-primary: var(--palette-5);
    --color-bg-secondary: var(--palette-3);
    --color-border-primary: var(--palette-4);
    --color-border-secondary: var(--palette-2);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /*выравниваем по центру*/
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}



/* Header */
.header{
    padding-top: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 35px;
    font-weight: 700;
    color: var(--color-text-primary);
}

/* Nav */
.nav {
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    text-decoration: none;
    color: var(--color-text-primary);

    transition: color .1s linear;
}
.nav_link:after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-links-primary);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav_link:hover{
    color: var(--color-links-primary);
}
.nav_link:hover:after{
    opacity: 1;
}

/* Боковая колонка и содержимое */
aside{
    width: 33%;
    float: left;
}
.sidebar{
    padding-top: 70px;
    width: 100%;
    height: 100vh;
}
.sidebar__inner{
    display: block;
}

.widget{
    padding: 20px 15px;
    background: white;
    font-size: 13px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
}